/* Space out content a bit */

html,
body {
    overflow: auto;
    width: 100%;
    height: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.main-section {
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 0;
    right: 0;
}

.list-group-item {
    border-left: 0;
    border-right: 0;
}

.main-item {}

.animate-container {
    width: 100%;
}

.swiper-container {
    width: 100%;
}

.animate-container .swiper-pagination-progress {
    position: fixed;
    width: 100%;
    height: 5px;
    left: 0;
    right: 0;
    top: 0;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #337ab7;
}

.swiper-slide {
    text-align: center;
}

.swiper-slide img {
    width: 720px;
    min-height: 250px;
    background: #909090;
}

.control-container {
    overflow: hidden;
}

.control-container .pager1 {
    float: right;
}

.control-container .pager2 {
    float: left;
}

.control-container .pager2 .previous a {
    margin: 0 5px;
}

.control-container .pager {
    margin: 10px 0 10px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
}


/* Customize container */

@media (max-width: 450px) {
    .swiper-container {
        width: 100%;
    }
    .swiper-slide img {
        width: 100%;
    }
}

@media (min-width: 451px) and (max-width: 750px) {
    .swiper-slide img {
        width: 550px;
    }
}
